<div [formGroup]="form" *ngIf="form">
  <div class="formgrid grid gap-3 pr-3">
    <div class="field col">
      <label for="name">Name</label>
      <input
        formControlName="name"
        id="name"
        type="text"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
    </div>
    <div class="field col">
      <label for="lastname2">Email</label>
      <input
        formControlName="email"
        id="email"
        type="text"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
    </div>
  </div>
</div>
